## Manual Preprocessing

In [46]:
from warnings import filterwarnings
filterwarnings("ignore")

### Step 1: Read the dataset

In [47]:
#Use this method for those data which has None as not applicable instead of blank/missing values
import pandas as pd
df = pd.read_csv("Cars93.csv", na_values= ["", "NA"], keep_default_na=False)
df.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

### Step 2 - Perform Basic Quality Checks

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  93 non-null     int64
 1   Manufacturer        93 non-null     object
 2   Model               93 non-null     object
 3   Type                93 non-null     object
 4   Min.Price           93 non-null     float64
 5   Price               93 non-null     float64
 6   Max.Price           93 non-null     float64
 7   MPG.city            93 non-null     int64
 8   MPG.highway         93 non-null     int64
 9   AirBags             89 non-null     object
 10  DriveTrain          93 non-null     object
 11  Cylinders           93 non-null     object
 12  EngineSize          93 non-null     float64
 13  Horsepower          93 non-null     int64
 14  RPM                 93 non-null     int64
 15  Rev.per.mile        93 non-null     int64
 16  Man.trans.avail     93 non-null     object
 17  Fuel.tank.capacity  93 non-null     float64
 18  Passengers          93 non-null     int64
 19  Length              93 non-null     int64
 20  Wheelbase           93 non-null     int64
 21  Width               93 non-null     int64
 22  Turn.circle         93 non-null     int64
 23  Rear.seat.room      91 non-null     float64
 24  Luggage.room        82 non-null     float64
 25  Weight              93 non-null     int64
 26  Origin              93 non-null     object
 27  Make                93 non-null     object
dtypes: float64(7), int64(12), object(9)
memory usage: 20.5+ KB

In [49]:

m= df.isna().sum()
m

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                4
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [50]:
m[m>0]

AirBags            4
Rear.seat.room     2
Luggage.room      11
dtype: int64

#### Problem Statement - Detemine the weight of car based on multiple factors

In [51]:
df.columns

Index(['id', 'Manufacturer', 'Model', 'Type', 'Min.Price', 'Price',
       'Max.Price', 'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Man.trans.avail', 'Fuel.tank.capacity', 'Passengers', 'Length',
       'Wheelbase', 'Width', 'Turn.circle', 'Rear.seat.room', 'Luggage.room',
       'Weight', 'Origin', 'Make'],
      dtype='object')

### Step 3 - Separating X (independent feature) and Y (Weight)
 Weight ~ Remaining Features

In [52]:
X= df.drop(columns=["id", "Weight"])
Y= df[["Weight"]]

In [53]:
X.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,13.2,5,177,102,68,37,26.5,11.0,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,18.0,5,195,115,71,38,30.0,15.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,16.9,5,180,102,67,37,28.0,14.0,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,Front,...,21.1,6,193,106,70,37,31.0,17.0,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,21.1,4,186,109,69,39,27.0,13.0,non-USA,BMW 535i

In [54]:
Y.head()

   Weight
0    2705
1    3560
2    3375
3    3405
4    3640

### Step 4 - Separate Categorical and Continuous features of X

In [55]:
X.columns

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Origin', 'Make'],
      dtype='object')

In [56]:
X.dtypes

Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city                int64
MPG.highway             int64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower              int64
RPM                     int64
Rev.per.mile            int64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers              int64
Length                  int64
Wheelbase               int64
Width                   int64
Turn.circle             int64
Rear.seat.room        float64
Luggage.room          float64
Origin                 object
Make                   object
dtype: object

In [57]:
cat= list(X.columns[X.dtypes=="object"])
cat

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

In [58]:
con = list(X.columns[X.dtypes!="object"])
con

['Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room']

### Step 5-  Missing Value Treatment
Categorical Data - Mode

Continuous Data - Mean

In [59]:
df["AirBags"].value_counts()

AirBags
Driver only           42
None                  33
Driver & Passenger    14
Name: count, dtype: int64

In [60]:
df["AirBags"].mode()

0    Driver only
Name: AirBags, dtype: object

In [61]:
df["AirBags"].mode()[0]

'Driver only'

In [62]:
df["Rear.seat.room"].mean()

27.82967032967033

In [63]:
df["Luggage.room"].median()

14.0

Missing Value Treatment
1. Categorical (Text) - Mode
2. Continuous (Numerical) - mean or median
3. df.fillna(value)

In [64]:
for i in X.columns:
    print(i)

Manufacturer
Model
Type
Min.Price
Price
Max.Price
MPG.city
MPG.highway
AirBags
DriveTrain
Cylinders
EngineSize
Horsepower
RPM
Rev.per.mile
Man.trans.avail
Fuel.tank.capacity
Passengers
Length
Wheelbase
Width
Turn.circle
Rear.seat.room
Luggage.room
Origin
Make

In [65]:
def replacer(df):
    cat = list(df.columns[df.dtypes=="object"])
    for i in df.columns:
        if i in cat:
            mode = df[i].mode()[0]
            df[i]= df[i].fillna(mode)
        else:
            mean = df[i].mean()
            df[i]= df[i].fillna(mean)

In [66]:
m[m>0]

AirBags            4
Rear.seat.room     2
Luggage.room      11
dtype: int64

In [67]:
replacer(X)

In [68]:
X.isna().sum()

Manufacturer          0
Model                 0
Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               0
DriveTrain            0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Man.trans.avail       0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Origin                0
Make                  0
dtype: int64

In [69]:
X.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,13.2,5,177,102,68,37,26.5,11.0,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,18.0,5,195,115,71,38,30.0,15.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,16.9,5,180,102,67,37,28.0,14.0,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver only,Front,...,21.1,6,193,106,70,37,31.0,17.0,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,21.1,4,186,109,69,39,27.0,13.0,non-USA,BMW 535i

 To save the dataframe, we can use X.to_csv

In [70]:

X.to_csv("ReplacedX.csv", index = False)

### Step 6 -Feature Engineering

Cat - OneHotEncoding

In [71]:
X_cat = X[cat]
X_con = X[con]

In [72]:
X_cat.head()

,Manufacturer,Model,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin,Make
0,Acura,Integra,Small,None,Front,4,Yes,non-USA,Acura Integra
1,Acura,Legend,Midsize,Driver & Passenger,Front,6,Yes,non-USA,Acura Legend
2,Audi,90,Compact,Driver only,Front,6,Yes,non-USA,Audi 90
3,Audi,100,Midsize,Driver only,Front,6,Yes,non-USA,Audi 100
4,BMW,535i,Midsize,Driver only,Rear,4,Yes,non-USA,BMW 535i

In [73]:
X_cat["Cylinders"].unique()

array(['4', '6', '8', '3', 'rotary', '5'], dtype=object)

In [74]:
X_con.head()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room
0,12.9,15.9,18.8,25,31,1.8,140,6300,2890,13.2,5,177,102,68,37,26.5,11.0
1,29.2,33.9,38.7,18,25,3.2,200,5500,2335,18.0,5,195,115,71,38,30.0,15.0
2,25.9,29.1,32.3,20,26,2.8,172,5500,2280,16.9,5,180,102,67,37,28.0,14.0
3,30.8,37.7,44.6,19,26,2.8,172,5500,2535,21.1,6,193,106,70,37,31.0,17.0
4,23.7,30.0,36.2,22,30,3.5,208,5700,2545,21.1,4,186,109,69,39,27.0,13.0

In [75]:
from sklearn.preprocessing import OneHotEncoder

In [76]:
ohe = OneHotEncoder(handle_unknown="ignore", sparse_output=False).set_output(transform="pandas")
X_cat_pre = ohe.fit_transform(X_cat)
X_cat_pre

,Manufacturer_Acura,Manufacturer_Audi,Manufacturer_BMW,Manufacturer_Buick,Manufacturer_Cadillac,Manufacturer_Chevrolet,Manufacturer_Chrylser,Manufacturer_Chrysler,Manufacturer_Dodge,Manufacturer_Eagle,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
89,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [77]:
X_cat_pre.to_csv("Ohe.csv",index=False)

In [78]:
df

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,None,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,None,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,None,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [79]:
X_con = X[con]
X_con

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room
0,12.9,15.9,18.8,25,31,1.8,140,6300,2890,13.2,5,177,102,68,37,26.5,11.000000
1,29.2,33.9,38.7,18,25,3.2,200,5500,2335,18.0,5,195,115,71,38,30.0,15.000000
2,25.9,29.1,32.3,20,26,2.8,172,5500,2280,16.9,5,180,102,67,37,28.0,14.000000
3,30.8,37.7,44.6,19,26,2.8,172,5500,2535,21.1,6,193,106,70,37,31.0,17.000000
4,23.7,30.0,36.2,22,30,3.5,208,5700,2545,21.1,4,186,109,69,39,27.0,13.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,16.6,19.7,22.7,17,21,2.5,109,4500,2915,21.1,7,187,115,72,38,34.0,13.890244
89,17.6,20.0,22.4,21,30,2.0,134,5800,2685,18.5,5,180,103,67,35,31.5,14.000000
90,22.9,23.3,23.7,18,25,2.8,178,5800,2385,18.5,4,159,97,66,36,26.0,15.000000
91,21.8,22.7,23.5,21,28,2.3,114,5400,2215,15.8,5,190,104,67,37,29.5,14.000000
92,24.8,26.7,28.5,20,28,2.4,168,6200,2310,19.3,5,184,105,69,38,30.0,15.000000

In [80]:
from sklearn.preprocessing import StandardScaler

In [81]:
scaler = StandardScaler().set_output(transform="pandas")
X_con_pre = scaler.fit_transform(X_con)
X_con_pre

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room
0,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,-0.083243,-0.427186,-0.286932,-0.366184,-0.610436,-0.452197,-1.033015
1,1.388017,1.497844,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,-0.083243,0.812171,1.629649,0.431983,-0.298510,0.738090,0.396643
2,1.008658,0.998227,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,-0.083243,-0.220626,-0.286932,-0.632239,-0.610436,0.057926,0.039228
3,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,0.884457,0.674465,0.302785,0.165927,-0.610436,1.078172,1.111472
4,0.755752,1.091905,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,-1.050944,0.192493,0.745073,-0.100128,0.013416,-0.282156,-0.318186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,-0.060445,0.019810,0.073018,-0.959938,-1.524806,-0.162577,-0.668585,-1.315292,1.180155,1.359872,1.852158,0.261346,1.629649,0.698038,-0.298510,2.098419,0.000000
89,0.054512,0.051036,0.045673,-0.244313,0.172352,-0.647181,-0.188665,0.875050,0.714407,0.562740,-0.083243,-0.220626,-0.139503,-0.632239,-1.234288,1.248213,0.039228
90,0.663786,0.394523,0.164167,-0.781032,-0.770514,0.128186,0.655993,0.875050,0.106911,0.562740,-1.050944,-1.666543,-1.024079,-0.898295,-0.922362,-0.622238,0.396643
91,0.537333,0.332071,0.145937,-0.244313,-0.204794,-0.356418,-0.572601,0.201098,-0.237337,-0.265051,-0.083243,0.467905,0.007926,-0.632239,-0.610436,0.568049,0.039228
92,0.882205,0.748418,0.601684,-0.423219,-0.204794,-0.259498,0.464025,1.549001,-0.044963,0.808011,-0.083243,0.054786,0.155356,-0.100128,-0.298510,0.738090,0.396643

### Step 7 - Combine Preprocessed data in single dataframe

In [82]:
X_pre = X_con_pre.join(X_cat_pre)
X_pre.head()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
0,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.388017,1.497844,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.008658,0.998227,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.755752,1.091905,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Step 8 - Apply Train Test Split

In [83]:
from sklearn.model_selection import train_test_split

In [84]:
xtrain, xtest, ytrain, ytest = train_test_split(X_pre, Y, test_size= 0.2, random_state= 21)

In [85]:
xtrain.head()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
57,1.365026,1.289670,1.185041,-0.423219,-0.016221,-0.356418,-0.265452,-0.304365,0.187910,-0.663618,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,-1.003095,-0.979424,-0.911397,0.113500,0.172352,-0.841022,-0.323043,2.054464,0.157535,-1.062184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,0.606307,0.685966,0.729294,-0.781032,-0.959087,0.322027,1.116716,1.212025,-0.247462,0.716035,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.043016,-0.021825,-0.063707,-0.423219,-0.204794,0.806631,1.347077,0.875050,-0.713210,0.409445,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,1.985795,1.726835,1.449374,-0.781032,-0.581941,1.872759,1.270290,-1.146804,-0.996708,1.022624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
ytrain.head()

    Weight
57    2920
31    2530
62    3730
29    3490
51    4055

In [87]:
xtest.head()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
23,-1.003095,-0.854520,-0.701753,0.113500,-0.016221,-0.453339,-0.975733,-0.809828,0.532158,-0.816912,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,0.203957,0.332071,0.428500,-0.781032,-1.336233,-0.259498,-0.111878,-0.472853,0.370159,0.961306,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91,0.537333,0.332071,0.145937,-0.244313,-0.204794,-0.356418,-0.572601,0.201098,-0.237337,-0.265051,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
21,1.422504,1.039862,0.692834,-0.423219,-0.581941,0.612789,0.060893,-0.809828,-1.108083,-0.203734,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.100495,-0.073868,-0.209546,-0.959938,-0.581941,2.260442,0.502419,-1.820755,-1.988953,1.942392,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
ytest.head()

    Weight
23    2670
86    3785
91    2985
21    3570
17    3910

In [89]:
xtrain.shape

(74, 257)

In [90]:
xtest.shape

(19, 257)

###  Step 9 - Model Building

In [92]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(xtrain, ytrain)

LinearRegression()

In [95]:
model.intercept_

array([3106.46634457])

In [93]:
model.coef_

array([[ 5.62979151e+00, -2.26564389e+00, -1.50870854e+00,
        -2.52232584e+01, -7.87168990e+01,  6.70969684e+01,
         8.76742035e+01, -2.09202971e+01, -1.19903586e+00,
         3.21936914e+01,  4.35475201e+01,  5.80586891e+01,
         1.60281163e+02,  8.19289909e+01,  3.94761512e+00,
        -2.74086545e+01,  1.04625062e+01, -1.81471894e+01,
         6.72895576e+01,  7.88009250e+01, -4.74910854e+01,
        -4.37814876e+01, -1.53120946e+01,  1.14648230e-01,
         1.63105966e+01,  1.08009078e+01, -3.63480116e+01,
        -8.31674140e+00, -4.93438655e+00,  1.23400630e+01,
        -1.73353616e+01, -1.46072898e+01,  2.23520694e+01,
         3.05980903e+01, -2.57241225e+01, -5.34326336e+01,
        -7.02328843e-02, -1.28095695e+00,  3.58099729e+01,
        -2.87002403e+01,  4.43154959e+01,  1.54326104e+01,
        -6.27723557e+01, -4.25042494e+00,  3.38776284e+01,
         6.25521281e-02, -1.74023233e+01,  2.91407170e+01,
        -2.44916222e+00,  6.57238861e-02, -3.59866654e+01,
        -1.05320287e-01, -1.74938943e+01,  4.86681728e+00,
         7.86617020e+01,  2.95678344e+00, -2.48154028e+00,
         6.78629296e+01, -6.27994939e+01,  1.35836086e+01,
         3.85453459e+01, -5.30894878e+01,  1.40679960e+01,
        -2.08935928e+01,  2.07040000e+01, -1.74529246e-02,
        -1.76351685e+01,  8.03905141e+00, -1.54291196e-01,
        -3.74569240e+00, -5.56689408e+01,  6.62423327e-02,
        -3.65164021e+01, -1.69828258e+00,  0.00000000e+00,
         0.00000000e+00,  2.65073000e+01, -6.65180738e+01,
         9.55371181e+00,  5.54482703e+00, -8.52832626e+00,
         1.67988601e+01, -3.14099620e+01, -4.47476949e+01,
         9.44817120e+01,  6.64395988e-01,  4.63455496e+01,
        -2.38116840e+01,  8.54684580e+00,  3.20440145e+01,
         7.27942992e+01,  4.39662616e+01,  1.79772650e+00,
        -8.73376560e+00, -8.31586671e+00,  1.27462327e+01,
         0.00000000e+00, -1.72867617e+01,  3.92252417e+01,
         4.45261451e+01,  1.81476027e+01,  5.35525309e+01,
        -1.72094935e+01,  5.67514511e+01,  0.00000000e+00,
        -6.18860131e+01,  3.22942625e+01,  1.44300754e+01,
         0.00000000e+00, -8.83376834e+01, -2.60025370e+01,
        -9.54022507e+01,  2.92128135e+01,  3.12058025e+01,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        -1.66900933e+01, -1.39937759e+01,  9.58005744e+01,
        -1.69052536e+01,  2.92771127e+00,  3.94737890e+00,
        -2.36921365e+01, -4.05147774e+00, -2.08073602e+01,
         1.42131864e+01,  0.00000000e+00,  0.00000000e+00,
        -1.19288341e+01, -4.86699517e+01,  1.41264302e+01,
         0.00000000e+00,  2.06635110e+01, -4.61811235e+00,
        -6.29290172e+01,  0.00000000e+00,  0.00000000e+00,
        -3.50576240e+01,  0.00000000e+00,  4.20038454e+00,
        -3.18223369e+01,  1.41027659e+01, -7.19654484e+01,
         6.08810532e+00, -3.78470423e+01, -4.88072292e+00,
         9.34906175e+01, -5.49051213e+00,  1.90596761e+01,
        -1.46395733e+01,  8.87319774e-01, -1.40582022e+01,
         1.34354056e+01,  1.32354105e+01, -4.50055588e+01,
         7.02206838e+01,  1.08039972e+01, -3.20397135e+01,
        -1.69052536e+01,  1.91253601e+01, -1.94565752e+01,
        -6.36121617e+01,  6.36121617e+01, -1.72867617e+01,
         0.00000000e+00,  0.00000000e+00,  6.79217931e+01,
         7.87465434e+01, -3.64454314e+01, -1.72094935e+01,
         2.92771127e+00,  3.94737890e+00, -4.47476949e+01,
         0.00000000e+00, -2.07513639e+01,  0.00000000e+00,
         0.00000000e+00, -5.57828552e+01,  9.55371181e+00,
         5.54482703e+00,  3.22942625e+01,  1.44300754e+01,
         0.00000000e+00,  0.00000000e+00,  1.81476027e+01,
        -3.73807858e+00,  0.00000000e+00,  6.64395988e-01,
         0.00000000e+00,  1.41264302e+01,  0.00000000e+00,
        -4.61811235e+00, -3.18223369e+01, -5.29907115e+01,
         1.67988601e+01,  3.20440145e+01,  1.79772650e+00,
         2.92128135e+01,  0.00000000e+00,  0.00000000e+00,
        -3.50576240e+01, -2.60025370e+01,  2.06635110e+01,
         1.36418637e+01, -1.69828258e+00,  0.00000000e+00,
         8.54684580e+00,  4.39662616e+01, -2.08073602e+01,
        -4.86699517e+01, -1.39937759e+01,  4.63455496e+01,
        -2.36921365e+01,  2.65073000e+01,  4.20038454e+00,
         4.73457115e+00,  3.07899817e+00,  0.00000000e+00,
        -1.66900933e+01, -1.69052536e+01, -3.58739833e+01,
        -1.75244345e+01,  8.01813600e+00, -8.52832626e+00,
         9.44817120e+01, -9.54022507e+01,  1.41046537e+01,
        -8.83376834e+01,  9.58005744e+01,  1.42131864e+01,
         3.85042175e+01, -3.14099620e+01, -2.38116840e+01,
        -1.19288341e+01,  4.45261451e+01,  2.06950523e+01,
        -8.73376560e+00,  1.27462327e+01,  5.35525309e+01,
        -6.29290172e+01, -6.27596641e+01, -4.05147774e+00,
         3.92252417e+01,  5.67514511e+01, -6.18860131e+01,
         0.00000000e+00, -1.74570771e+01,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -6.65180738e+01,
         7.28008798e+01, -8.31041699e+00,  3.11921936e+01,
         0.00000000e+00, -2.53743843e+00]])

In [96]:
xtrain.columns

Index(['Min.Price', 'Price', 'Max.Price', 'MPG.city', 'MPG.highway',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Fuel.tank.capacity',
       ...
       'Make_Toyota Camry', 'Make_Toyota Celica', 'Make_Toyota Previa',
       'Make_Toyota Tercel', 'Make_Volkswagen Corrado',
       'Make_Volkswagen Eurovan', 'Make_Volkswagen Fox',
       'Make_Volkswagen Passat', 'Make_Volvo 240', 'Make_Volvo 850'],
      dtype='object', length=257)

### Step 10 - Model Evaluation

In [97]:
model.score(xtrain, ytrain)

1.0

In [101]:
ypred_train = model.predict(xtrain)
ypred_train[0:5]

array([[2920.],
       [2530.],
       [3730.],
       [3490.],
       [4055.]])

In [99]:
ytrain.head()

    Weight
57    2920
31    2530
62    3730
29    3490
51    4055

In [105]:
model.score(xtest, ytest)

0.9334302997720154

In [107]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

In [113]:
def evaluate_model(model, x,y):
    ypred = model.predict(x)
    mse = mean_squared_error(y, ypred)
    rmse   = mse**(1/2)
    mae= mean_absolute_error(y, ypred)
    mape = mean_absolute_percentage_error(y,ypred)
    r2 = r2_score(y, ypred)
    print(f"MSE :{mse:.2f}")
    print(f"RMSE: {rmse:.2f}")
    print(f"MAE:{mae:.2f}")
    print(f"MAPE:{mape:.2f}")
    print(f"R2_Score:{r2:.4f}")

In [114]:
evaluate_model(model, xtest, ytest)

MSE :24144.63
RMSE: 155.39
MAE:115.95
MAPE:0.04
R2_Score:0.9334

In [115]:
ypred_test= model.predict(xtest)
ypred_test[0:5]

array([[2569.68191327],
       [3620.30504479],
       [3042.86692549],
       [3335.5664273 ],
       [3968.45729197]])

In [116]:
ytest.head()

    Weight
23    2670
86    3785
91    2985
21    3570
17    3910